
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');

:root{
    --fonte-titulo:'Bitcount+Prop+Single+Ink' ;
    --fonte-texto: 'playfair Display' ;
    --cor-principal: #a0bbf0;
    --cor-segundaria:#eceff7;
    --cor-destaque:#228efb;
    --cor-texto:#435acc;
}
body{
     background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}
h1, .caixa-perguntas, .caixa-resultados{
    font-family: var(--fonte-titulo);
}
h1{
    color: var(--cor-destaque);
}
button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: background-color 0.3s;
}
button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
.caixa-resultados{
    display: none;
}
.caixa-resultados.mostrar{
    display: block;
}
.caixa-alternativas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}